.ux-flag-ar { background-image: url("../images/icons/flags/ar.png") !important; }
.ux-flag-cs { background-image: url("../images/icons/flags/cs.png") !important; }
.ux-flag-de { background-image: url("../images/icons/flags/de.png") !important; }
.ux-flag-en { background-image: url("../images/icons/flags/en.png") !important; }
.ux-flag-es { background-image: url("../images/icons/flags/es.png") !important; }
.ux-flag-fa { background-image: url("../images/icons/flags/fa.png") !important; }
.ux-flag-fr { background-image: url("../images/icons/flags/fr.png") !important; }
.ux-flag-hr { background-image: url("../images/icons/flags/hr.png") !important; }
.ux-flag-hu { background-image: url("../images/icons/flags/hu.png") !important; }
.ux-flag-it { background-image: url("../images/icons/flags/it.png") !important; }
.ux-flag-ja { background-image: url("../images/icons/flags/ja.png") !important; }
.ux-flag-nl { background-image: url("../images/icons/flags/nl.png") !important; }
.ux-flag-pt_BR { background-image: url("../images/icons/flags/br.png") !important; }
.ux-flag-pt_PT { background-image: url("../images/icons/flags/pt_PT.png") !important; }
.ux-flag-ru { background-image: url("../images/icons/flags/ru.png") !important; }
.ux-flag-sr { background-image: url("../images/icons/flags/sr.png") !important; }
.ux-flag-sr_RS { background-image: url("../images/icons/flags/sr.png") !important; }
.ux-flag-vn { background-image: url("../images/icons/flags/vn.png") !important; }
.ux-flag-zh_CN { background-image: url("../images/icons/flags/zh_CN.png") !important; }